.container {
  padding-right: 18px;
  padding-left: 18px;
  margin: 0 auto;

  &__relative {
    position: relative;
  }

  .flex {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }

  &__medium {
    max-width: 976px;
  }

  &__margin {
    margin: 2.875rem 0;

    @include atSmall {
      margin-bottom: 2.875rem;

    }
  }
}